[submodule "themes/oh-my-zsh-powerline-theme"]
	path = themes/oh-my-zsh-powerline-theme
	url = https://github.com/jeremyFreeAgent/oh-my-zsh-powerline-theme.git
[submodule "themes/powerlevel9k"]
	path = themes/powerlevel9k
	url = https://github.com/simonvpe/powerlevel9k
[submodule "asciidoctor"]
	path = asciidoctor
	url = https://github.com/sparsick/asciidoctor-zsh
