[submodule "themes/oh-my-zsh-powerline-theme"]
	path = themes/oh-my-zsh-powerline-theme
	url = https://github.com/jeremyFreeAgent/oh-my-zsh-powerline-theme.git
[submodule "themes/powerlevel9k"]
	path = themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k
